extends layout

block content
  div.main_body
    .container-fluid.products.mx-2
      br
      br
      br
      h2(style='text-align:center;')
        span.heading
          | Others
          span
      br
      .row.mx-5
        each others in other
            .col-md-3
                .product-top
                    img.bk(src=others.image alt='book1')
                    .overlay
                        a(href="#eye"+others._id, class=btn btn-secondary)
                            i.fa.fa-eye
                        a(href="#heart"+others._id, class=btn btn-secondary)
                            i.fa.fa-heart-o
                        a(href="/cart/AddtoCart/"+others._id, class=btn btn-secondary)
                            i.fa.fa-shopping-cart
                .product-bottom.text-center
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star-o
                    h4=others.title
                    p=others.by
                    h5=others.price
                    p=others.rating+"/5"
      a(href = "/cart", class = 'btn butt crt carto') Cart
      br
